/*
 * Prevent bread crumb.
 */
.breadcrumb {display: none;}

/*
 * Hide organisation role in congress report
 */
.field-name-field-organisation {display: none;}

/*
 * Congress Enter Page.
 */
#congress-enter-link {
  background-color : #5996C0;
  font-size: 2em;
  border: 4px solid #d3d7d9;
}
#congress-enter-info {
  width: 50%;
  float: right;
}
#congress-home-text {
  clear: both;
}

/*
 * Congress Tables.
 */
.congress-table {
  width: auto;
}

/*
 * Congress update form.
 */

#congress-update-form .form-item-name {
  width: 18em;
  float: left;
  height: 60px;
}
#congress-update-form .form-item-entry-text {
  width: 50em;
  float: left;
}
#congress-update-form .form-item-entrants-text {
  width: 50em;
  float: left;
}
#congress-update-form .form-item-payment {
  width: 18em;
  float: left;
  height: 60px;
}
#congress-update-form .form-item-role {
  width: 15em;
  float: left;
  height: 60px;
}
#congress-update-form .form-item-logo {
  width: 15em;
  float: left;
  height: 60px;
}
#congress-update-form .form-item-multiple-discount {
  width: 15em;
  float: left;
  height: 60px;
}
#congress-update-form .form-item-extra-discount {
  width: 15em;
  float: left;
  height: 60px;
}
#congress-update-form .form-item-extra-discount-text {
  width: 30em;
  float: left;
  height: 60px;
}
#congress-update-form .form-item-extra-question {
  width: 30em;
  float: left;
  height: 60px;
}
#congress-update-form .form-item-email {
  width: 34em;
  float: left;
  height: 60px;
}

#congress-update-form .form-item-date {
  width: 15em;
  float: left;
  height: 60px;
}

#congress-update-form #edit-late {
  width: 25em;
  float: left;
}

#congress-update-form #edit-dob {
  width: 15em;
  float: left;
}

#congress-update-form #edit-dob-prompt {
  width: 15em;
  float: left;
}

#congress-update-form .form-item-ask-female {
  width: 15em;
  float: left;
  height: 60px;
}
#congress-update-form .form-item-platform {
  width: 15em;
  float: left;
  height: 60px;
}
#congress-update-form .form-item-style {
  width: 15em;
  float: left;
  height: 60px;
}
#congress-update-form .form-item-member-discount {
  width: 15em;
  float: left;
  height: 60px;
}
#congress-update-form .form-item-multiple-sections {
  width: 15em;
  float: left;
  height: 60px;
}

#congress-update-form .form-item-country {
  width: 15em;
  float: left;
  height: 60px;
}

#congress-update-form .form-item-status {
  width: 15em;
  float: left;
  height: 60px;
}

#congress-update-form .form-item-max-entrants {
  width: 15em;
  float: left;
  height: 60px;
}

#congress-update-form .form-item-rounds {
  width: 15em;
  float: left;
  height: 60px;
}

#congress-update-form .form-item-byes {
  width: 15em;
  float: left;
  height: 60px;
}


/*
 * Congress entry form.
 */

#congress-entry-update-form .form-item-first-name {
  width: 13em;
  float: left;
}

#congress-entry-update-form .form-item-last-name {
  width: 13em;
  float: left;
}

#entry-player-dob {
  width: 13em;
  float: left;
}

#entry-player-sex {
  width: 10em;
  float: left;
}

#congress-entry-update-form .form-item-club {
  width: 20em;
  float: left;
}

#entry-lookup-button {
  width: 10em;
  float: left;
}

#entry-clear {
  width: 12em;
  float: left;
}

#congress-entry-update-form .form-item-grade {
  width: 15em;
  float: left;
}
#congress-entry-update-form .form-item-rgrade {
  width: 15em;
  float: left;
}

#congress-entry-update-form .form-item-ecfcode {
  width: 15em;
  float: left;
}
#congress-entry-update-form .form-item-ecfmemb {
  width: 15em;
  float: left;
}
#congress-entry-update-form .form-item-fidecode {
  width: 15em;
  float: left;
}
#grade-note-text {
  float: left;
  color: red;
}
#congress-entry-update-form .form-item-grade-details {
  width: 20em;
  float: left;
}

#congress-entry-update-form .form-item-email {
  width: 20em;
  float: left;
}

#congress-entry-update-form .form-item-address1 {
  width: 20em;
  float: left;
}

#congress-entry-update-form .form-item-address2 {
  width: 20em;
  float: left;
}

#congress-entry-update-form .form-item-city {
  width: 20em;
  float: left;
}

#congress-entry-update-form .form-item-postcode {
  width: 20em;
  float: left;
}

#congress-entry-update-form .form-item-telephone {
  width: 20em;
  float: left;
}
#congress-entry-update-form .form-item-bye1 {
  width: 20em;
  float: left;
}
#congress-entry-update-form .form-item-bye2 {
  width: 20em;
  float: left;
}

#paypal-link-img {
  float: left;
}

div.congress-enter-txt {
  float: left;
  width: 30em;
}

/*
 * Congress admin tab.
 */
#congress-admin-buttons {
  float: right;
}
#congress-home-admin-form .form-item-status {
  display: inline;
}
#congress-home-admin-form .form-item-xltype {
  display: inline;
}
#congress-entry-update-form .form-item-status {
  display: inline;
}
.congress-field-item {
  display: inline;
}
.congress-field-label {
  display: inline;
  font-weight: bold;
}

/*
 * Congress user settings
 */
#congress-user-settings-form #edit-subs {
  width: 20em;
}
#congress-user-settings-form #edit-congress {
  width: 25em;
  float: right;
}

/*
 * New multi step entry form
 */
#congress-entry-multi-form #edit-header ul {
  list-style: none;
}
#congress-entry-multi-form #edit-header ul li {
  display: inline-block;
  margin-right: 10px; /* add spacing between items */
}
#congress-entry-multi-form #edit-header ul li.active {
  font-weight:bold;
}
